{% extends "base.html" %}
{% load i18n %}
{% block css %}
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/test.css" rel="stylesheet"/>
{% endblock css %}
{% block content %}
    <!--补充下面-->
    <body class="cat">
    <a href="/">返回首页</a>
    <script language='javascript' content="3">document.location = '/accounts/login'</script>
    <p>{% trans "You are now registered. Activation email sent." %}</p>
    </body>
{% endblock %}